version: '3.2'
  
services:

   playbooks:
    
    image: {{ playbook_image }}
    
    volumes:
       - "/tmp/repo-to-copy:/opt/:Z"
    command: bash -c "mkdir -p /opt/semaphore/ && cp -r /tmp/semaphore_config /opt/semaphore/config   && cp -r /tmp/load_more/  /opt/semaphore/playbooks"
    
